@import "../styles/variables.module.scss";

.container {
  font-family: $interFont;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $aliceBlue;
}