@import "../../styles/variables.module.scss";

.diagram {
    font-family: $interFont;
    max-height: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;

    .panel {
        display: flex;
        height: 100%;
    }
}