@import "../../styles/variables.module.scss";

.element {
    border: 3px solid transparent;
    position: absolute;
    box-sizing: border-box;
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

.active {
    border: 3px solid $fluorescentBlue;
}